html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */  
  background: url('/Content/images/bg.jpg');
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;  
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #666;
  color: #fff;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

#board-container {
  padding: 20px;
}

#board {
    margin: 20px auto;
}

#game-dashboard {
  background: #666;
  color: #fff;
  padding: 0 5px;
}
#game-dashboard h2 {
    display: inline-block;
}