<div class="page-header">
    <h1>Instructions</h1>
</div>
<p class="lead">To end up with the least number of pegs possible left on the board. Click any single peg to remove it from the board. Now you are read to start playing!</p>
<div id="board-container" class="jumbotron">    
    <div id="game-dashboard" class="text-center">
        <h2>Ellapsed Time: <span class="label label-primary">11:34</span></h2>  
        <h2>Peg Count: <span class="label label-primary">15</span></h2>    
    </div>
    <img src="/Content/game/board.png" id="board" class="center-block" />
</div>
<p>To jump, first click the peg that is going to jump. Then, click the hole where the peg is going to land (by jumping over an adjacent peg).</p>
<p>Bet you didn't know, the number of pegs you leave in the board indicates how smart you are. According to the in-game instructions, if you end up with:
    <ul>
        <li>One Peg = You're a Genius</li>
        <li>Two Pegs = You're Pretty Smart</li>
        <li>Three Pegs = You're Just Average</li>
        <li>Four Pegs or More = Just Plain Dumb</li>
    </ul>
If you leave four or five pegs the first time, don't worry about it too much. Keep practicing and have fun!</p>
